/* Global Body Styling */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Outfit:wght@100..900&display=swap');

body {
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Background Image Styling */
  background-image: url('./bgGlobal.png');  /* Ensure this path points to the correct image location */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* Code Styling */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Full Height Setup */
html, body, #root {
  height: 100%;
}

/* Optional Text Color for Readability */
body {
  color: white;
}
